global
  log stdout format raw local0
  maxconn 4096

defaults
  mode tcp
  log global
  timeout connect 5s
  timeout client 60s
  timeout server 60s

resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries 3
  timeout retry 1s
  hold valid 10s

# SMTP ingress -> inbound Haraka pool
frontend fe_smtp
  bind *:25
  default_backend be_inbound

backend be_inbound
  balance roundrobin
  option tcp-check
  tcp-check expect rstring ^220\ 
  tcp-check send QUIT\r\n
  tcp-check expect rstring ^221\ 
  server in1 haraka-in-1:25 check check-send-proxy send-proxy inter 10s resolvers docker init-addr none resolve-prefer ipv4
  server in2 haraka-in-2:25 check check-send-proxy send-proxy inter 10s resolvers docker init-addr none resolve-prefer ipv4

# Submission ingress -> outbound Haraka pool
frontend fe_submission
  bind *:587
  default_backend be_outbound

backend be_outbound
  balance roundrobin
  option tcp-check
  tcp-check expect rstring ^220\ 
  tcp-check send QUIT\r\n
  tcp-check expect rstring ^221\ 
  server out1 haraka-out-1:587 check check-send-proxy send-proxy inter 10s resolvers docker init-addr none resolve-prefer ipv4
  server out2 haraka-out-2:587 check check-send-proxy send-proxy inter 10s resolvers docker init-addr none resolve-prefer ipv4
